<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <link rel="stylesheet" href="style.css">

  <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Mission to Mars</h1>
          <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div>
      </div>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Latest Mars News<h1>
            <h3>{{mars.news_title}}</h3>
            <p>{{mars.news_p}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
          <img src={{mars.feature_image_url}} class="img-fluid" alt="feature image">
        </div>
        <div class="col-md-4">
          <span class="border">
            <h3>Current Weather on Mars</h3>
            <p>{{mars.mars_weather}}</span></p>
          </span>
          <h3>Mars Facts</h3>
          <table border="1" class="dataframe-fluid">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Parameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>
        </div>
    </div>
  </div>

</body>

</html>